<h1>Editing entry</h1>

<%= render "form", entry: @entry %>

<br>

<div>
  <%= link_to "Show this entry", @entry,class:"btn btn-primary" %> |
  <%= link_to "Back to entries", entries_path,class:"btn btn-primary" %>
</div>
