<p style="color: green"><%= notice %></p>

<%= render @entry %>

<div>
  <%= link_to "Edit this entry", edit_entry_path(@entry),class:"btn btn-primary" %> |
  <%= link_to "Back to entries", entries_path,class:"btn btn-primary" %>
</div>
